main a:link{
    text-decoration:none;
}

main a:hover{
    text-decoration:none;
    color:black;
    text-align: center;
}

.container_doacoes{
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 2%;
    margin-top: 2rem;
}
.container_doacoes a{
   justify-content: center;
}
.container_doacoes p a{
    display:flex;
    color: black;
 }
 .container_doacoes p{
    text-align: justify;
 }
 
 