/*definicão da página sobre o jogo*/
.jogo {
    display: table;
    text-align: center;
    border-top: none;
    padding-top: 1rem;
    float: inline-start;
}

.personagem1{
    display: table-caption;
    color: rgb(46, 146, 228);
    float: left;
    caption-side: top;
    padding: 5px;
    border: thin solid;
    margin: 0px 10px 10px 0px;
    width: 100%;
    clear: both;
}
.personagem2{
    display: table-caption;
    color: rgb(46, 146, 228);
    float: left;
    caption-side: top;
    padding: 5px;
    border: thin solid;
    margin: 0px 10px 10px 0px;
    width: 100%;
    clear: both;
}
.personagem3{
    display: table-caption;
    color: rgb(46, 146, 228);
    float: left;
    caption-side: top;
    padding: 5px;
    border: thin solid;
    margin: 0px 10px 10px 0px;
    width: 100%;
    clear: both;
}

.personagem4{
    display: table-caption;
    color: rgb(46, 146, 228);
    float: left;
    caption-side: top;
    padding: 5px;
    border: thin solid;
    margin: 0px 10px 10px 0px;
    width: 100%;
    clear: both;
}
