/* definição do texto e foto do desenvolvedor*/
#desenvolvedor {
    display: flex;
    margin-right: 15rem;
    padding: 10px;
    justify-content: space-between;
}

#desenvolvedor p {
    padding-right: 5rem;
}

