/*definicão da página sobre o jogo*/
 .personagens {
    display:flex;
    text-align: center;
    border-top: none;
    padding-top: 0;
    float: inline-start;
    margin: 2rem;
    justify-content: center;
 }

.personagem1{
    display: table-caption;
    color: rgb(0, 0, 0);
    float: left;
    caption-side: top;
    padding: 15px;
    border: thin solid;
    margin: 0px 10px 10px 0px;
    width: 15%;
    clear:both;
}

.personagem2{
    display: table-caption;rgb(0, 0, 0) /*rgb(46, 146, 228)*/;
    float: left;
    caption-side: top;
    padding: 15px;
    border: thin solid;
    margin: 0px 10px 10px 0px;
    width: 15%;
    clear: both;
}
.personagem3{
    display: table-caption;
    color: rgb(0, 0, 0);
    float: left;
    caption-side: top;
    padding: 15px;
    border: thin solid;
    margin: 0px 10px 10px 0px;
    width: 15%;
    clear: both;
}

.personagem4{
    display: table-caption;
    color: rgb(0, 0, 0);
    float: left;
    caption-side: top;
    padding: 15px;
    border: thin solid;
    margin: 0px 10px 10px 0px;
    width: 15%;
    clear: both;
}

.cenarios {
    display:flex;
    text-align: center;
    border-top: none;
    padding-top: 0;
    float: inline-start;
    margin: 2rem;
    justify-content: center;
 }

.cenario1{
    display: table-caption;
    color: rgb(0, 0, 0);
    float: left;
    caption-side: top;
    padding: 15px;
    border: thin solid;
    margin: 0px 10px 10px 0px;
    width: 15%;
    clear: both;
}

.cenario2{
    display: table-caption;
    color: rgb(0, 0, 0);
    float: left;
    caption-side: top;
    padding: 15px;
    border: thin solid;
    margin: 0px 10px 10px 0px;
    width: 15%;
    clear: both;
}

.cenario3{
    display: table-caption;
    color: rgb(0, 0, 0);
    float: left;
    caption-side: top;
    padding: 15px;
    border: thin solid;
    margin: 0px 10px 10px 0px;
    width: 15%;
    clear: both;
}

.cenario4{
    display: table-caption;
    color: rgb(0, 0, 0);
    float: left;
    caption-side: top;
    padding: 15px;
    border: thin solid;
    margin: 0px 10px 10px 0px;
    width: 15%;
    clear: both;
}

.cenario5{
    display: table-caption;
    color: rgb(0, 0, 0);
    float: left;
    caption-side: top;
    padding: 15px;
    border: thin solid;
    margin: 0px 10px 10px 0px;
    width: 15%;
    clear: both;
}

#descricao_jogo{
    text-align: justify;
    margin: 2rem ;
    padding: 0 2%;
}
