/* definição do fundo e a fonte das telas*/
@import "./header.css";


* {
   font-family: 'Philosopher', sans-serif;
}

body{
/*   background-color: antiquewhite;*/
    background-color: #9cdbf3;  /*fundo oficial*/
}

/*
estilização do backgroun com fundo gradiente
main{
    background-image: linear-gradient(antiquewhite, #4cb3d381);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
}*/

html {
    height: 100%;
}

.container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 2%;
}

p {
    font-size: 16px;
    line-height: 22px;
    font-family: 'Aclonica', sans-serif;
   
}

/* definição do h1 e h3 para título e sub-título das páginas*/
h1 {
    font-family: 'Philosopher';
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem 0;
}

h3 {
    font-family: 'Philosopher';
    font-weight: 500;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
}

#banner {
    display: flex;
    height: 100%;
    width: 100%;
}

#banner img {
    width: 8%
}

#login {
    display: flex;
    justify-content: center;
    margin-right: 15rem;
    margin-left: 15rem;
    margin-bottom: 10px;
    padding-top: 1rem;
    justify-content: space-between;
}

footer {
    width: 100%;
    padding: 3rem 0;
    background-color: #4cb3d386;
}

#footer {
    display: flex;
    font-family: 'Ms Sans Serif';
    justify-content: space-between;
    flex-wrap: wrap;
    margin:5px;
    gap: 20px;
    align-items: center;
}

.footer_img ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

@media (max-width:720px) {
    #footer {
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 10px;
    }
}

