/* definição do fundo e a fonte das telas*/
@import "./header.css";


* {
    font-family: 'Cinzel Decorative', cursive;
}

html {
    height: 100%;
}

body {
    background-color: #9cdbf3;
}

.container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 2%;
}

p {
   
    font-size: 16px;
    line-height: 22px;
}

/* definição do h1 e h3 para título e sub-título das páginas*/
h1 {
    font-family: 'Cinzel Decorative';
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
}

h3 {
    font-family: 'Cinzel Decorative';
    font-weight: 500;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
}

#banner {
    display: flex;
    justify-content: center;
}

#banner img {
    width: 8%
}


footer {
    width: 100%;
    padding: 3rem 0;
    background-color: #4cb3d381;
}

#footer {
    display: flex;
    font-family: 'Cherry Cream Soda';
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
    gap: 20px;
    align-items: center;
}

.footer_img ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

@media (max-width:720px) {
    #footer {
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 10px;
    }
}

/*definição da tag <P> na tag <main>*/
main p {
    font-family: 'Cherry Cream Soda';
    text-align: justify;
    margin: 2rem;
    max-width: 40rem;
}

/*definição das imagens na página da Equipe*/
figure {
    display: table;
        text-align: center;
    font-family: 'Cherry Cream Soda';
}

figcaption {
    display: table-caption;
    caption-side: bottom;
}

div.figure {
    display: flex;
    justify-content: center;
}

/*definição do form para a página de Registro*/
#registro {
    display:flex;
    flex-direction: column;
    font-family: 'Cherry Cream Soda';
    margin: 0 auto;
    align-items: center;
    text-align: right;
}

#registro fieldset {
    margin-bottom: 1rem;}

#registro div {
    margin-top: 1rem;
   /* text-align: right;*/
}

#registro button {
    font-weight: 700
}

#mensagem_tipo_login {
    padding: 20px;
    display: flex;
    justify-content: center;
}

#mensagem_cadastro{
    padding: 20px;
    display: flex;
    justify-content: center

}
label{
    padding: 10px;


}

.login{
    display: flex;
    justify-content:center;
    padding: 10px;
}
.registrar{
    display: flex;
    justify-content: center;
    padding: 10px;    
        
}

.camposcadastro{
    padding: 10px;
    display: flex;
    justify-content:center}



#botao_enviar{    
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 1rem 2rem;
    color:aliceblue;
    margin:1rem;
    
}


/* definição da página Index*/
#atualizacoes {
    display: flex;
    font-family: 'Cherry Cream Soda';
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
    gap: 20px;
}

@media (max-width:720px) {
    #atualizacoes {
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 10px;
    }
}

#atualizacoes nav {
    display: block;
    background-color: #dcdddd;
}

#lista_arquivos {
    border: rgb(196, 191, 191) 1px solid;
    background-color: #dcdddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

#lista_arquivos p {
    background-color: #dfdfdf;
    padding: 10px;
    text-decoration: underline;
}

#lista_arquivos nav ul {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

}

#lista_arquivos nav ul li {
    padding-bottom: 10px;
}

#lista_arquivos nav ul li a {
    text-decoration: none;
    color: rgb(7, 7, 7);
}

.itens {
    text-align: center;
}

.textodoacao{
    text-align: center;
    display: flex;
    justify-content: center;
    
}

#patreon{
    display: flex;
    justify-content: center;
}