/* definição do fundo e a fonte das telas*/
* {
    font-family: 'Cinzel Decorative', cursive;  } 

  body{
    background-image: url(imagens/imgfundo.png);
}
/*fim*/

/*body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
}*/

.menu{
list-style:none;
/*border:1px solid #5c0303;*/
float:left;
}

.menu li{
    position:relative;
    float:left;
 /*  border:1px solid #050364;*/
    }

.menu li a{color:#333; text-decoration:none; padding:1px 5px; display:flex;}

.menu li a:hover{
background:#333;
color:#fff;
/*-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;*/

/*-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
float: none;
z-index: auto;
width: auto;
height: auto;
position: relative;*/
}

.menu li  ul{
    position:absolute;
    top:10px;
    left:0;
    background-color:#fff;
 /*   border:2px solid #e7d807;*/
    display:none;
    }

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
    border:1px solid #c0c0c0;
    display:flex;
}


/* aqui começa a nossa programação do menu */
nav a {
        background-color: #15EDA3 ;
        text-transform: uppercase;
        text-decoration: none;
        width: 200px;
        height: 39px;
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 27px;
        color: #3B3030;
    }
    
nav button{
    
    background-color: #15EDA3 ;
    border-radius: 11px;
    height: 30px;
    width: 237px;
    margin-right: 1rem;
    font-size: 10px;
    text-decoration-color: #3B3030;
    border: 1px solid #000000;
    box-shadow: inset 0px -8px 5px rgba(0, 0, 0, 0.25);
}
