
/* definição do fundo e a fonte das telas*/
* {
    font-family: 'Cinzel Decorative', cursive;  } 

    html{
        height: 100%;
    }

    body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #9cdbf3;
}


/* definição do menu de navegação de todas as telas e os botões*/
nav{
    display: flex;
    justify-content: flex-start;
    padding: 10px; 
    background-color: #dcdddd;
}

/*nav a {
    text-transform: uppercase;
    text-decoration: none;
    width: 200px;
    height: 29px;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 27px;
    color: #3B3030;
}

nav a:hover{
    color: rgb(47, 172, 255);
    text-decoration: underline;
}

nav button{  
    background-color:#704f50 ;
    border-radius: 11px;
    height: 30px;
    width: 237px;
    margin-right: 1rem;
    font-size: 10px;
    text-decoration-color: #3B3030;
    border: 1px solid #000000;
    box-shadow: inset 0px -8px 5px rgba(0, 0, 0, 0.25);
}
*/


/* definição de header e fotter*/
header{
    background-color: #4cb3d3;
    height: 5rem;
}

header img{
    width: 100%;
}

header form{
     margin-top: 1rem;
     margin-left: 1rem;
     text-decoration-color: #3B3030;
     padding-top:1rem;
}

footer{
    width: 100%;
    margin-top: 1rem;
    text-align: start;
    background-image: url(imagens/imgfooter.png);
    padding: 40px 0;  
}

footer p{
        color:aliceblue;
        margin-left: 1rem;
}

/* definição do h1 para cabeçalho das páginas*/
h1{
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

/*definição da tag <P> na tag <main>*/
main p{
    font-family: 'Cherry Cream Soda';
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: justify;
}

/*definição das imagens na página da Equipe*/
figure {
    display:table;
    text-align: center;
    font-family: 'Cherry Cream Soda';
}

figcaption {
    display: table-caption;
    caption-side: bottom;
} 

div.figure{
    display:flex;
}
 
 /*definição do form para a página de Registro*/
fieldset{
    font-family: 'Cherry Cream Soda';
    margin-top: 2rem;
    margin-bottom:1rem;
}

fieldset div{
   margin-top: 1rem;
   width:400px;
   text-align:right;
}

form button{
    font-weight: 700
}
    
/* definição do texto e foto do desenvolvedor*/
#desenvolvedor {
     display:flex;
     margin-right: 15rem;
     padding: 10px;
     justify-content: space-between;
  }
#desenvolvedor p {
    padding-right:5rem;
}

/*  #foto-do-dev{
    display:flex;
     text-align: center;
  }*/

/*definicão da página sobre o jogo*/
#jogo{
    display: flex;
    padding: 10px;
}

/* definição da página Index*/
.arquivos li {
    display: flex;
    font-family: 'Cherry Cream Soda';
    margin-left: 1rem;
}   

.atualizaçoes {
    display:inline-flex;
    border-color: #000000;
    background-color: #000000;
}

/*definição de todas as tag <Main>*/
main{
    flex-grow: 1;
}

/* definição do menu com dropdown*/
.menu{
    list-style:none;
    float:left;
}
    
.menu li{
    position:relative;
    float:left;
    border:1px solid #adadaf;
    font-family: 'Cinzel Decorative', cursive;  
    box-shadow: inset 0px -8px 5px rgba(0, 0, 0, 0.25);
    text-decoration: underline;
} 
    
.menu li a{
    color:#333; 
    text-decoration:none; 
    padding:1px 10px; 
    display:flex;
   /* text-transform: uppercase;*/
    width: 210px;
    height: 39px;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 27px;
}

.menu li a:hover{
    background:#333;
    border-radius: 11px;
    color:#fff;
}
    
.menu li  ul{
    position:absolute;
    top:40px;
    left:0;
    background-color:rgb(189, 184, 184);
    display:none;
}
    
.menu li:hover ul, .menu li.over ul{
    display:block;
    border-radius: 11px;
}
      
.menu li{ margin-right: 20px;
    background-color: #704f50 ;
    border-radius: 11px;
}

.menu ul li{ 
    margin-right: 0rem;
}

