* {
    font-family: 'Cinzel Decorative', cursive;  } 

  body{
    background-image: url(imagens/imgfundo.png);
}

nav{
    display: flex;
    justify-content: flex-start;
    padding: 10px; 
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
}

nav a:hover{
    color: rgb(47, 172, 255);
    text-decoration: underline;
}

nav button{
    background-color: #15EDA3 ;
    border-radius: 11px;
    height: 40px;
    width: 237px;
    margin-right: 1rem;
    box-shadow: inset 5px 2px 2px #1ead65;
    border-width: 0.5px;
    font-size: 20px;
    text-decoration-color: #3B3030;
}
footer{
    margin-top: 1rem;
    text-align: start;
    background-image: url(imagens/imgfooter.png);
    padding: 40px 0;  
}

h3{
    text-align: left;
    font-weight: bold ;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}*/