
/* definição do fundo e a fonte das telas*/
* {
    font-family: 'Cinzel Decorative', cursive;  } 

  body{
    background-image: url(imagens/imgfundo.png);
}
/*fim*/


/* definição do menu de navegação de todas as telas e os botões*/
nav{
    display: flex;
    justify-content: flex-start;
    padding: 10px; 
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    width: 200px;
    height: 39px;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 27px;
    color: #3B3030;
}

nav a:hover{
    color: rgb(47, 172, 255);
    text-decoration: underline;
}

nav button{  
    background-color: #15EDA3 ;
    border-radius: 11px;
    height: 30px;
    width: 237px;
    margin-right: 1rem;
    font-size: 10px;
    text-decoration-color: #3B3030;
    border: 1px solid #000000;
    box-shadow: inset 0px -8px 5px rgba(0, 0, 0, 0.25);
}

/*fim*/


/* definição de header e fotter*/
header form{
     margin-top: 10px;
     margin-left: 1rem;
     text-decoration-color: #3B3030;
}

footer{
    width: 100%;
    margin-top: 1rem;
    text-align: start;
    background-image: url(imagens/imgfooter.png);
    padding: 40px 0;  
 }

 footer p{
        color:aliceblue;
        margin-left: 1rem;
}
/*fim*/


/* definição do h1 para cabeçalho das páginas*/
h1{
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
}
/*fim*/

/*definição de fonte para o texto da página na tag <main>*/
main p{
    font-family: 'Cherry Cream Soda';
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}
/*fim*/


/*definição das imagens na página da Equipe*/
figure {
    display:table;
    text-align: center;
    font-family: 'Cherry Cream Soda';
}

figcaption {
    display: table-caption;
    caption-side: bottom;
} 

div.figure{
    display:flex;
}
 /*fim*/
 

 /*definição do form para a página de Registro*/
fieldset{
    font-family: 'Cherry Cream Soda';
    margin-top: 2rem;
    margin-bottom:1rem;
  }

fieldset div{
   margin-top: 1rem;
   width:400px;
   text-align:right;
}

form button{
    font-weight: 700
 }
 /*fim*/
   
 main p{
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: justify;
}
  
#desenvolvedor {
     display:block;
     margin-right: 70rem;
     padding: 10px;
  }

  #foto-do-dev{
    display:block;
     text-align: center;
  }

#jogo{
    display: block;
    margin-right: 80rem;
    padding: 10px;
}

header img{
    width: 100%;
}

.arquivos li {
    display: flex;
    font-family: 'Cherry Cream Soda';
    margin-left: 1rem;
}   

.atualizaçoes {
    display:inline-flex;
    border-color: #000000;
    background-color: #000000;
}
